/* general */
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: #FEFDFA;
    
    }
section{
    margin: 50px 0;
}
#responsive-close{
    display: none;
    @media only screen and (max-width: 800px) {
        display: block;
        position: absolute;
        top: 4%;
        right: 5%;
        font-size: 25px;
        cursor: pointer;
         }
}

.h2{
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
}
.error-style{
    font-size: 12px;
    color: red;
    margin: 0;
    margin-top: 10px;
}
.divider{
    width: 50px;
    height: 2px;
    background-color: #000;
}
html{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    }

.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80px;
    position: fixed;
  
    transition: all 0.2s ease;
    z-index: 10;
}

#menu-responsive{
    display:none;
    @media only screen and (max-width: 800px) {
        display: block;
        cursor: pointer;
        /* justify-content: flex-end; */
    }

}
.nav-active{
    height: 60px!important;
    background-color: #FEFDFA;
    box-shadow: 1px 1px 5px #bdb9b9;
    transition: all 0.2s ease;
}
.nav-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 800px) {
        display: flex;
        justify-content: space-between;
    }

}
.logo{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 20px;
}
.ul-link-menu{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    @media only screen and (max-width: 800px) {
       /* border: 1px solid red; */
        flex-direction: column;      
        width: 100%;
        justify-content: center;
        align-items: center;
       height: 100dvh;
       background-color: #fff;
        position: fixed;
        top: 0%;
        left: 100%;
        transition: all 0.3s ease-in;
        opacity: 0;

    }
}
.ul-open{
left: 0;
transition: all 0.3s ease-in;
opacity: 1;
}
.link{
    text-decoration: none;
    color: black;
    @media only screen and (max-width: 800px) {
        font-size: 30px;
         }
}
.reseax{
    @media only screen and (max-width: 800px) {
        display: none;
        }
}
.ul-link-network{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.link-network{
    color: black;
   
}

 .active-link, .link:hover{
    text-decoration: none;
     /* font-size: 30px; */
    color: #DFB166;
    /* padding: 10px 30px; */
    /* border-radius: 50px; */
}
/* ---------- header  */
.header{
    height: 100dvh;
display: flex;
width: 80%;
@media only screen and (max-width: 800px) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    
    }
/* margin: 0 auto; */
}

.content-header{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 800px) {
        width: 100%;
        /* border: 1px solid blue; */
height: auto;
        padding: 10px;
    }
}

.content-box{
    width: 70%;
    /* border: 1px solid red; */
    @media only screen and (max-width: 800px) {
        width: 100%;
    }

}
.h2-header{
    font-size: 55px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 30px;
    @media only screen and (max-width: 800px) {
        font-size: 35px;
        line-height: 35px;
        /* border: 1px solid red; */
    }
}
.div-img-header{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    @media only screen and (max-width: 800px) {
        width: 300px;
        height: 300px; 
        
        border-radius:50%;
        /* border: 1px solid red; */
    }

    @media only screen and (max-width: 425px) {
        width: 150px;
        height: 150px; 
        
        border-radius:50%;
        /* border: 1px solid red; */
    }
}

.img-header{
    width: 80%;
    height: 80%;
    object-fit: cover;
    z-index: 3;
    @media only screen and (max-width: 800px) {
         width: 100%;
        height: 100%; 

        border-radius: 50%;
    }
}
.square{
    position: absolute;
    top: 80px;
    left: 40px;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    z-index: 1;
    @media only screen and (max-width: 800px) {
       border-radius: 50%;
       left: -20px;
       /* z-index: 10; */
       width: 100%;
       height: 100%;
       top: -20px;
        }
}
.button-work{
    text-decoration: none;
    background-color: #DFB166;
    color: black;
    padding: 10px 30px;
    border-radius: 50px;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------ about */
.about{
    width: 80%;
  padding-top: 50px;
    /* border: 1px solid red; */
}
.first-part-about{
    width: 100%;
    height: 40dvh;
    margin: 25px 0 ;
    /* overflow: hidden; */
}

.img-horizontal-about{
height: 100%;
width: 100%;
object-fit: cover;
    /* border: 1px solid red; */

}
.seconde-part-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* width: 100%; */
}
.img-about{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.paragraph-about{
    width: 45%;
    margin: 30px 0;
    /* margin-left: 100px; */
    @media only screen and (max-width: 800px) {
        width: 100%;
        }

}

.p-about{
    margin: 0;
    margin-bottom: 10px;
}
.div-img-about{
    width: 50%;
    @media only screen and (max-width: 800px) {
    display: none;
    }
}
.about-h2{
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;

}
/* ---------------- contact  */
.contact{
    width: 80%;
    padding-top: 50px;
}
.box-contact{
display: flex;
margin-top: 30px;
border: 2px solid #000;
border-radius: 20px;
@media only screen and (max-width: 800px) {
    flex-direction: column;    
}
}
.first-part-contact{
    width: 40%;
    /* border: 1px solid yellow; */
    height: 600px;
    @media only screen and (max-width: 800px) {
        width: 100%;  
        height: auto;
    }
}
.content-contact{
    /* border: 1px solid black; */
    height: 50%;
    background-color: #000;
   
    /* padding: 20px; */
    display: flex;
/* flex-direction: column; */
justify-content: center;
align-items: center;
border-radius: 20px 0 0 0;
@media only screen and (max-width: 800px) {
    /* height: 100%;     */
}
    }


.content-contact-box{
width: 70%;
/* border: 1px solid red; */

@media only screen and (max-width: 800px) {
  padding: 20px 0;
}

}
.div-img-contact{
    /* border: 1px solid black; */
height: 50%;   
@media only screen and (max-width: 800px) {
display: none;    }
}
.img-contact{
    width: 100%;
height: 100%; 
border-radius: 0 0 0 20px; 
  object-fit: cover;
}
.h3-contact{
    color: white;
    @media only screen and (max-width: 800px) {
        margin: 0;   
    }
        }
    
    
        .describe-h3{
        color: #C1C1C1;
        }
.link-contact-network{
    color: #C1C1C1;
    font-size: 25px;
}
.ul-contact{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.div-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    @media only screen and (max-width: 800px) {
        width: 100%;
        padding-bottom: 40px;
    }

}
.form{
    /* border: 1px solid purple; */
    width: 80%;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    
}

.input-form{
    padding: 10px;
    border: 1px solid #a7a7a7;
    margin-top: 30px;
}

.input-form input{
   width: 60%;
   border: none;
}
.input-form input:focus{
    /* outline: solid #000; */
    outline: none;
 }

.input-form textarea{
    width: 100%;
    border: none;
  
 }
 .input-form textarea:focus{
    /* outline: solid #000; */
    outline: none;
    
 }

.btn-submit{
    margin-top: 30px;
    padding: 15px;
    background-color: #373737;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}
/* ----------- footer  */
.footer{
    background-color: #373737;
    display: flex;
    justify-content: center;    
}
.footer-box{
    width: 80%;
    /* padding: 40px 0; */
    /* border: 1px solid red; */
  
    /* justify-content: center; */

}
.first-part-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid orange; */
    margin: 50px 0 70px 0 ;
    @media only screen and (max-width: 800px) {
      flex-direction: column;
      gap: 25px;
    }
}
.logo-footer{
    color: #F3F3F3;
    margin: 0;
    margin-bottom: 10px;
    font-size: 25px;

}
.p-content-footer{
    color: #F3F3F3;
    margin: 0;
}
.resume-footer{
    width: 40%;
    @media only screen and (max-width: 800px) {
       width: 100%;
      }
}
.resume-footer p{
    color: #F3F3F3;
}
.second-part-footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #F3F3F3;
}
.link-menu-foot{
    @media only screen and (max-width: 800px) {
        width: 100%;
       }
}
.ul-footer{
    margin: 0;
    padding: 0;
    @media only screen and (max-width: 800px) {
        width: 100%;
       }

}

.ul-footer li{
    list-style: none;
}
.ul-footer li a{
    text-decoration: none;
    color: #F3F3F3;
}
.contact-us-footer{
    margin: 0;
    color: #F3F3F3;
    margin-bottom: 10px;
}
.link-network-footer{
    color: #F3F3F3;
    font-size: 20px;
}
.reserved{
    margin: 0;
    color: #F3F3F3;
}